extend ../layout/common

block content
  .container.d-flex.flex-column.justify-content-center.aligns-center(style="height: 50vh")
    .row.d-flex.flex-column.justify-content-center.align-items-center
      h3 Opps!
      h1 500 Internal Server Error
      p Sorry, something has broken!
    .row.d-flex.justify-content-center
      a.btn.btn-primary.mr-2(href="/") Take Me Home
      a.btn.btn-light(href="#") Contact Us
  
    
